# DATA
data/raw/*
!data/raw/.gitkeep
!data/raw/sec-edgar-filings/TSLA

data/chunks/*
!data/chunks/.gitkeep

data/embeddings/*
!data/embeddings/.gitkeep

# MODELS
models/EMBEDDING*
!models/EMBEDDING/.gitkeep

models/LLM*
!models/LLM/.gitkeep

models/RERANKER*
!models/RERANKER/.gitkeep

# Exclude environment and credentials
.env
venv/
__pycache__/
.DS_Store