# DATA
data/raw/**
!data/raw/.gitkeep

#!data/raw/sec-edgar-filings/
#!data/raw/sec-edgar-filings/TSLA/
#!data/raw/sec-edgar-filings/TSLA/10-K/

#!data/raw/sec-edgar-filings/TSLA/10-K/0001628280-24-002390/full-submission.txt
#!data/raw/sec-edgar-filings/TSLA/10-K/0001628280-25-003063/full-submission.txt
#!data/raw/sec-edgar-filings/TSLA/10-K/0001628280-26-003952/full-submission.txt

# CHUNKS
data/chunks/*
!data/chunks/.gitkeep

!data/chunks/tsla/

!data/chunks/tsla/10-k_2023_chunks.json
!data/chunks/tsla/10-k_2024_chunks.json
!data/chunks/tsla/10-k_2025_chunks.json

# EMBEDDINGS
data/embeddings/*
!data/embeddings/.gitkeep

!data/embeddings/tsla/

!data/embeddings/tsla/10-k_2023_index.bin
!data/embeddings/tsla/10-k_2024_index.bin
!data/embeddings/tsla/10-k_2025_index.bin

# MODELS
models/EMBEDDING*
!models/EMBEDDING/.gitkeep

models/LLM*
!models/LLM/.gitkeep

models/RERANKER*
!models/RERANKER/.gitkeep
!models/README.md

# Exclude environment and credentials
.env
venv/
__pycache__/
.DS_Store